/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower


[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {

}

section.jumbotron {
  display: none;
  margin-bottom: 30px;
  padding: 1px 30px;
  text-align: center;
  h1 {
    font-size: 3em;
  }
}

.search_input{
  font-size: 36px;
  padding-right: 30px;
  padding-left: 30px;
  vertical-align: middle;
  i {
    font-size: 36px;
  }
}
section.search_results{
  padding-right: 30px;
  padding-left: 30px;
}

.left_navigation {
  li {
    list-style: none;
  }
}

em {
  text-decoration: underline;
  background-color: #E3F2FD;
}



/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
