<!doctype html>
<html ng-app="esfront">
  <head>
    <meta charset="utf-8">
    <title>esfront</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div layout="column" layout-fill ng-controller="MainController as main">
    
      <md-content>
        <header>
          <acme-navbar />
        </header>
    
        <section class="jumbotron">
          <h3>ElasticSearch Front</h3>
          <p class="lead">
            You know, for search.
          </p>
        </section>
        <section class="search_input" >
          <md-input-container>
            <label>Search for a Job</label>
            <input type="text" ng-model="queryText" ng-change="sendQuery()">
          </md-input-container>          
        </section>
        <section class="search_results" ng-show="resultsShown" ng-if="hits" layout="row">
          <div flex="25" class="left_navigation">
            <div ><span>{{number_results}} results for ' {{lastQueryText}} '</span></div>
            <div class="aggregation" ng-if="aggregations">
              <div ng-repeat="(category, obj) in aggregations">
                <h5 class="aggregation-header">{{category}}</h5> 
                <li class="aggregation-value" ng-repeat="value in obj.buckets"><input type="checkbox" value="{{value.key}}-selected" /> {{ value.key }} ({{ value.doc_count }})</li>    
              </div>
            </div>
          </div>  
          <div flex="75" class="results_area">       
            <result ng-repeat="hit in hits" result="hit" />
          </div>
        </section>

      </md-content>
    
    </div>
    

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
